00.CONFIG=1294729763

#### DB Auth
CDatabaseUserName=root
CDatabasePassword=embian

###### Do not touch below
#### DB Address
UASDatabaseAddress=dbi:mysql:UAS:127.0.0.1
WebDatabaseAddress=dbi:mysql:eFolder:127.0.0.1
SessionDatabaseAddress=dbi:mysql:eFolder:127.0.0.1
ShareDatabaseAddress=dbi:mysql:eFolder:127.0.0.1
FileDatabaseAddress=dbi:mysql:eFolder:127.0.0.1
TestFileDatabaseAddress=dbi:mysql:eFolder:127.0.0.1
MonitorDatabaseAddress=dbi:mysql:eFolder:127.0.0.1
CONFIGDatabaseAddress=dbi:mysql:eFolder:127.0.0.1
AccountDatabaseAddress=dbi:mysql:eAccountManager:127.0.0.1

#### ETC 
G_DEBUG_RUN=0
ASK_SEARCH_DB=0
G_LOG_LEVEL=2
S_ADMIN=Admin
S_ADMIN_IP=127.0.0.1
CMountMAX=25
MAX_RESULT_SIZE=30
ClientVersion=1
DownLoadPassword=1
SuperClientVersion=SC2
CONST_MIN_COPY_RATE=4*1024*1024
CONST_DUPLICATED_COPY=COPY-
eFolder_MAX_FREE_DAY=30
eFolder_MAX_FREE_TERM=30*24*60*60
eFolder_FREE_TERM=30*24*60*60
eFolder_DAY_CHARGE=1024*1024*10
eFolder_DOWN_CHARGE=3*1024*1024
eFolder_DOWN_MILEAGE=3*1024*1024*10
ADULT_HIT_COUNT=3
THIS_SERVER_IS_SUPERC=0
START_FREE_TIME=3
END_FREE_TIME=15
